In [0]:
# 구글 드라이브 연동 

from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [0]:
import os
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
import pickle

In [0]:
os.chdir('/content/drive/My Drive/data/제목없는 폴더')

In [0]:
os.listdir('/content/drive/My Drive/data/제목없는 폴더')

['gold.csv',
 '위안화 환율.csv',
 '유로화 환율.csv',
 '달러 환율.csv',
 '파운드화 환율.csv',
 '엔화 환율.csv',
 '금보유량.csv',
 '금수요량.csv',
 '달러인덱스.csv',
 'bank.csv',
 'POILBREUSDM.csv',
 '텍사스유(WTI).csv',
 '나스닥.csv',
 '코스피.csv',
 '다우지수.csv',
 'snp500.csv',
 'gold_price.csv',
 'gold1019_report.html',
 'total.csv',
 'total_gold.csv',
 'total_gold.pkl',
 'total_gold_report.html',
 'total_gold_report2.html',
 'pre_gold_price.pkl',
 'gold00000_report.html']

In [0]:
file_name= [
 '금수요량.csv',
 '달러인덱스.csv',
 '위안화 환율.csv',
 '달러 환율.csv',
 '엔화 환율.csv',
 '유로화 환율.csv',
 '파운드화 환율.csv',
 '금보유량.csv',
 'POILBREUSDM.csv',
 '나스닥.csv',
 '코스피.csv',
 '다우지수.csv',
 'snp500.csv',
 '텍사스유(WTI).csv','gold_price.csv']

In [0]:
len(file_name)

15

In [0]:
name = [
 '금수요량.csv',
 '달러인덱스.csv',
 '위안화 환율.csv',
 '달러 환율.csv',
 '엔화 환율.csv',
 '유로화 환율.csv',
 '파운드화 환율.csv',
 '금보유량.csv',
 'POILBREUSDM.csv',
 '나스닥.csv',
 '코스피.csv',
 '다우지수.csv',
 'snp500.csv',
 '텍사스유(WTI).csv','gold_price.csv'
 ]

In [0]:
name[6]

'파운드화 환율.csv'

In [0]:
# csv 파일 이름을 숫자로 변경

for i in range(len(file_name)):
  print(i)
  name[i] = pd.read_csv('%s'% file_name[i])

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [0]:
# 각 파일의 컬럼명 확인  

for i in range(0,15):
  print(i,file_name[i])
  print(name[i].columns)

0 금수요량.csv
Index(['Date', 'gold_demand'], dtype='object')
1 달러인덱스.csv
Index(['Date', 'index_price', 'index_volume', 'index_change'], dtype='object')
2 위안화 환율.csv
Index(['Date', 'cny/krw'], dtype='object')
3 달러 환율.csv
Index(['Date', 'usd/krw'], dtype='object')
4 엔화 환율.csv
Index(['Date', '100jpy/krw'], dtype='object')
5 유로화 환율.csv
Index(['Date', 'eur/krw'], dtype='object')
6 파운드화 환율.csv
Index(['Date', 'gbp/krw'], dtype='object')
7 금보유량.csv
Index(['Date', 'gold_reserves'], dtype='object')
8 POILBREUSDM.csv
Index(['Date', 'brandt_barrel'], dtype='object')
9 나스닥.csv
Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')
10 코스피.csv
Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')
11 다우지수.csv
Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')
12 snp500.csv
Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')
13 텍사스유(WTI).csv
Index(['Date', 'WTI_barrel'], dtype='object')
14 gold_price.csv
Index(['일자', '국제가격 (USD/T.oz)', '환율 (￦/USD)'], dtype='object')

In [0]:
# gold_price의 필요없는 컬럼 제거 
name[14]=name[14].drop('Unnamed: 0',axis=1)

In [0]:
# 달러 환율의 'usd/krw'와 중복되어 제거

name[14]=name[14].drop('환율 (￦/USD)',axis=1)

# 컬럼명 바꾸기

In [0]:
# 날짜 컬럼명을 'Date'로 통일 

name[8] = name[8].rename(columns = {'DATE':'Date', 'POILBREUSDM':'brandt_barrel'})
name[13] = name[13].rename(columns= {'DATE':'Date', 'DCOILWTICO':'WTI_barrel'})
name[14] = name[14].rename(columns = {'일자':'Date', '국제가격 (USD/T.oz)':'USD/T.oz'})

In [0]:
# 각 파일의 중복되는 컬럼명을 합쳤을때 알아볼수 있게 변경 

name[9] = name[9].rename(columns= {'Open':'nasdaq_open', 'High':'nasdaq_high', 'Low':'nasdaq_low', 'Close':'nasdaq_close', 'Adj Close':'nasdaq_adj', 'Volume':'nasdaq_volume'})
name[10] = name[10].rename(columns= {'Open':'kospi_open', 'High':'kospi_high', 'Low':'kospi_low', 'Close':'kospi_close', 'Adj Close':'kospi_adj', 'Volume':'kospi_volume'})
name[11] = name[11].rename(columns= {'Open':'dow_open', 'High':'dow_high', 'Low':'dow_low', 'Close':'dow_close', 'Adj Close':'dow_adj', 'Volume':'dow_volume'})
name[12] = name[12].rename(columns= {'Open':'snp500_open', 'High':'snp500_high', 'Low':'snp500_low', 'Close':'snp500_close', 'Adj Close':'snp500_adj', 'Volume':'snp500_volume'})

In [0]:
# 변경된 파일들을 다시 csv파일로 저장

#name[8].to_csv('POILBREUSDM.csv',index=False)
#name[13].to_csv('텍사스유(WTI).csv',index=False)
#name[14].to_csv('gold_price.csv.csv',index=False)

#name[9].to_csv('나스닥.csv',index=False)
#name[10].to_csv('코스피.csv',index=False)
#name[11].to_csv('다우지수.csv',index=False)
#name[12].to_csv('snp500.csv',index=False)

In [0]:
for i in range(0,15):
  print(i,file_name[i])
  print(name[i].columns)

0 금수요량.csv
Index(['Date', 'gold_demand'], dtype='object')
1 달러인덱스.csv
Index(['Date', 'index_price', 'index_volume', 'index_change'], dtype='object')
2 위안화 환율.csv
Index(['Date', 'cny/krw'], dtype='object')
3 달러 환율.csv
Index(['Date', 'usd/krw'], dtype='object')
4 엔화 환율.csv
Index(['Date', '100jpy/krw'], dtype='object')
5 유로화 환율.csv
Index(['Date', 'eur/krw'], dtype='object')
6 파운드화 환율.csv
Index(['Date', 'gbp/krw'], dtype='object')
7 금보유량.csv
Index(['Date', 'gold_reserves'], dtype='object')
8 POILBREUSDM.csv
Index(['Date', 'brandt_barrel'], dtype='object')
9 나스닥.csv
Index(['Date', 'nasdaq_open', 'nasdaq_high', 'nasdaq_low', 'nasdaq_close',
       'nasdaq_adj', 'nasdaq_volume'],
      dtype='object')
10 코스피.csv
Index(['Date', 'kospi_open', 'kospi_high', 'kospi_low', 'kospi_close',
       'kospi_adj', 'kospi_volume'],
      dtype='object')
11 다우지수.csv
Index(['Date', 'dow_open', 'dow_high', 'dow_low', 'dow_close', 'dow_adj',
       'dow_volume'],
      dtype='object')
12 snp500.csv
Index(['Date', 'snp500_open', 'snp500_high', 'snp500_low', 'snp500_close',
       'snp500_adj', 'snp500_volume'],
      dtype='object')
13 텍사스유(WTI).csv
Index(['Date', 'WTI_barrel'], dtype='object')
14 gold_price.csv
Index(['Date', 'USD/T.oz'], dtype='object')

# 데이트타임으로 바꾸기

In [0]:
# Date의 object 형식을 데이트타임으로 바꿈 

for i in range(0,15):
  name[i]['Date'] = name[i]['Date'].astype('datetime64[ns]')

# 합치기

In [0]:
# Date 컬럼을 기준으로 모든 컬럼을 하나로 합침 

basedf = name[14]

for i in range(0,14):
  basedf = pd.merge(basedf, name[i],how='left',on='Date')

In [0]:
# total.csv로 저장 

basedf.to_csv('total.csv',index=False)

In [0]:
# Date 기준으로 정렬

basedf=basedf.sort_values('Date')

In [0]:
# Date를 인덱스로 바꿈

basedf=basedf.set_index('Date')

In [0]:
basedf.head()

           USD/T.oz  gold_demand  ...  snp500_volume WTI_barrel
Date                              ...
2003-11-03   383.58          NaN  ...   1.378200e+09      28.81
2003-11-04   377.48          NaN  ...   1.417600e+09      28.86
2003-11-05   381.15          NaN  ...   1.401800e+09      30.29
2003-11-06   383.37          NaN  ...   1.453900e+09      30.25
2003-11-07    381.4          NaN  ...   1.440500e+09      30.73

[5 rows x 37 columns]

In [0]:
basedf.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3913 entries, 2003-11-03 to 2019-07-31
Data columns (total 37 columns):
USD/T.oz         3913 non-null object
gold_demand      24 non-null float64
index_price      3877 non-null float64
index_volume     3877 non-null object
index_change     3877 non-null object
cny/krw          3913 non-null float64
usd/krw          3913 non-null float64
100jpy/krw       3913 non-null float64
eur/krw          3913 non-null float64
gbp/krw          3913 non-null float64
gold_reserves    24 non-null float64
brandt_barrel    99 non-null float64
nasdaq_open      3793 non-null float64
nasdaq_high      3793 non-null float64
nasdaq_low       3793 non-null float64
nasdaq_close     3793 non-null float64
nasdaq_adj       3793 non-null float64
nasdaq_volume    3793 non-null float64
kospi_open       3887 non-null float64
kospi_high       3887 non-null float64
kospi_low        3887 non-null float64
kospi_close      3887 non-null float64
kospi_adj        3887 non-null float64
kospi_volume     3887 non-null float64
dow_open         3793 non-null float64
dow_high         3793 non-null float64
dow_low          3793 non-null float64
dow_close        3793 non-null float64
dow_adj          3793 non-null float64
dow_volume       3793 non-null float64
snp500_open      3793 non-null float64
snp500_high      3793 non-null float64
snp500_low       3793 non-null float64
snp500_close     3793 non-null float64
snp500_adj       3793 non-null float64
snp500_volume    3793 non-null float64
WTI_barrel       3911 non-null object
dtypes: float64(33), object(4)
memory usage: 1.1+ MB

#object형식을 float형식으로 변환

In [0]:
# 'USD/T.oz' 컬럼에 ',' 제거 후 float형식으로 변환

def replace_1(x):
  return x.replace(',','')

basedf['USD/T.oz']= basedf['USD/T.oz'].apply(replace_1)
basedf['USD/T.oz']=basedf['USD/T.oz'].astype('float')

In [0]:
# 'index_volume' 컬럼에 '-' 을 NaN으로 변경 후 float형식으로 변환

def replace_percent(x):
    try: 
        return x.replace('-', 'NaN')
    except AttributeError:
        return np.NaN

basedf['index_volume']= basedf['index_volume'].apply(replace_percent)
basedf['index_volume']=basedf['index_volume'].astype('float')

In [0]:
# 'index_change'컬럼에 % 제거 후 float형식으로 변환

def replace_percent(x):
    try: 
        return x.replace('%', '')
    except AttributeError:
        return np.NaN

basedf['index_change']= basedf['index_change'].apply(replace_percent)
basedf['index_change']=basedf['index_change'].astype('float')

In [0]:
basedf.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3784 entries, 2003-11-03 to 2019-07-31
Data columns (total 37 columns):
USD/T.oz         3784 non-null float64
gold_demand      23 non-null float64
index_price      3784 non-null float64
index_volume     3778 non-null float64
index_change     3784 non-null float64
cny/krw          3784 non-null float64
usd/krw          3784 non-null float64
100jpy/krw       3784 non-null float64
eur/krw          3784 non-null float64
gbp/krw          3784 non-null float64
gold_reserves    23 non-null float64
brandt_barrel    97 non-null float64
nasdaq_open      3780 non-null float64
nasdaq_high      3780 non-null float64
nasdaq_low       3780 non-null float64
nasdaq_close     3780 non-null float64
nasdaq_adj       3780 non-null float64
nasdaq_volume    3780 non-null float64
kospi_open       3762 non-null float64
kospi_high       3762 non-null float64
kospi_low        3762 non-null float64
kospi_close      3762 non-null float64
kospi_adj        3762 non-null float64
kospi_volume     3762 non-null float64
dow_open         3780 non-null float64
dow_high         3780 non-null float64
dow_low          3780 non-null float64
dow_close        3780 non-null float64
dow_adj          3780 non-null float64
dow_volume       3780 non-null float64
snp500_open      3780 non-null float64
snp500_high      3780 non-null float64
snp500_low       3780 non-null float64
snp500_close     3780 non-null float64
snp500_adj       3780 non-null float64
snp500_volume    3780 non-null float64
WTI_barrel       3782 non-null object
dtypes: float64(36), object(1)
memory usage: 1.1+ MB

In [0]:
# 누락되어 있던 문자열 float으로 바꿔줌

basedf['WTI_barrel']=basedf['WTI_barrel'].astype('float')

## csv 파일과 pkl파일로 저장해 둠

In [0]:
gold.to_csv('total_gold.csv',index=False)

In [0]:
pickle.dump(gold,open('total_gold.pkl','wb'))

In [0]:
gold=pickle.load(open('total_gold.pkl','rb'))

In [0]:
gold.head()

            USD/T.oz  gold_demand  ...  snp500_volume  WTI_barrel
Date                               ...
2003-11-03    383.58          NaN  ...   1.378200e+09       28.81
2003-11-04    377.48          NaN  ...   1.417600e+09       28.86
2003-11-05    381.15          NaN  ...   1.401800e+09       30.29
2003-11-06    383.37          NaN  ...   1.453900e+09       30.25
2003-11-07    381.40          NaN  ...   1.440500e+09       30.73

[5 rows x 37 columns]

In [0]:
gold.columns

Index(['USD/T.oz', 'gold_demand', 'index_price', 'index_volume',
       'index_change', 'cny/krw', 'usd/krw', '100jpy/krw', 'eur/krw',
       'gbp/krw', 'gold_reserves', 'brandt_barrel', 'nasdaq_open',
       'nasdaq_high', 'nasdaq_low', 'nasdaq_close', 'nasdaq_adj',
       'nasdaq_volume', 'kospi_open', 'kospi_high', 'kospi_low', 'kospi_close',
       'kospi_adj', 'kospi_volume', 'dow_open', 'dow_high', 'dow_low',
       'dow_close', 'dow_adj', 'dow_volume', 'snp500_open', 'snp500_high',
       'snp500_low', 'snp500_close', 'snp500_adj', 'snp500_volume',
       'WTI_barrel'],
      dtype='object')

In [0]:
gold.tail()

            USD/T.oz  gold_demand  ...  snp500_volume  WTI_barrel
Date                               ...
2019-07-25   1426.68          NaN  ...   3.645270e+09       55.88
2019-07-26   1417.70          NaN  ...   3.257590e+09       56.04
2019-07-29   1418.83          NaN  ...   3.203710e+09       56.85
2019-07-30   1426.54          NaN  ...   3.634330e+09         NaN
2019-07-31   1431.99          NaN  ...   4.623430e+09         NaN

[5 rows x 37 columns]

## 상관관계를 알아봄

In [0]:
import pandas_profiling
df_profile = pandas_profiling.ProfileReport(gold)
df_profile.to_file('total_gold_report.html')

/usr/local/lib/python3.6/dist-packages/pandas/plotting/_converter.py:129: FutureWarning: Using an implicitly registered datetime converter for a matplotlib plotting method. The converter was registered by pandas on import. Future versions of pandas will require you to explicitly register matplotlib converters.

To register the converters:
	>>> from pandas.plotting import register_matplotlib_converters
	>>> register_matplotlib_converters()
  warnings.warn(msg, FutureWarning)

# (상관관계 확인 후 )

# 필요없는 컬럼 제거

In [0]:
# 데이터 불러오기
gold=pickle.load(open('total_gold.pkl','rb'))

In [0]:
# 2010년부터 2019-7월로 데이터를 자름

gold=pd.DataFrame(gold['2010-1-01' : '2019-7-31'])

In [0]:
# 데이터가 분기별로 되어있고 얼마 없어서 삭제

gold = gold.drop(['gold_reserves', 'brandt_barrel', 'gold_demand'], axis=1)
# 금 보유량, 브랜트유 가격, 금 수요량

## 주식시장 데이터를 평균값으로 바꿈

In [0]:
# 주식시장 평균값으로 새로운 컬럼 생성

gold['nasdaq'] = (gold['nasdaq_open'] + gold['nasdaq_high'] + gold['nasdaq_low'] + gold['nasdaq_adj'] + gold['nasdaq_close']) / 5
gold['kospi'] = (gold['kospi_open'] + gold['kospi_high'] + gold['kospi_low'] + gold['kospi_adj'] + gold['kospi_close']) / 5
gold['dow'] = (gold['dow_open'] + gold['dow_high'] + gold['dow_low'] + gold['dow_adj'] + gold['dow_close']) / 5
gold['snp500'] = (gold['snp500_open'] + gold['snp500_high'] + gold['snp500_low'] + gold['snp500_adj'] + gold['snp500_close']) / 5

In [0]:
# 평균 컬럼 생성 후 필요없어진 컬럼들을 제거 

gold = gold.drop(['nasdaq_open', 'nasdaq_high', 'nasdaq_low', 'nasdaq_close', 'nasdaq_adj',
                  'kospi_open', 'kospi_high', 'kospi_low', 'kospi_close', 'kospi_adj',
                  'dow_open', 'dow_high', 'dow_low', 'dow_close', 'dow_adj',
                  'snp500_open', 'snp500_high', 'snp500_low', 'snp500_close', 'snp500_adj'], axis=1)

## 데이터 NaN값 채우기

In [0]:
# NaN값을 뒤 데이터 값으로 채움

gold = gold.fillna(method='bfill')

In [0]:
# NaN값을 앞 데이터 값으로 채움

gold = gold.fillna(method='ffill')

# 전처리 완료된 데이터를 저장

In [0]:
# pickle로 저장

pickle.dump(gold, open('pre_gold_price.pkl','wb'))